<ion-header >
  
  <ion-toolbar  lines="none" style="--background: #edac39;">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/" name="close-outline" text="Atras"></ion-back-button> -->
      <ion-button (click)="atras()">
        <ion-icon name="close" color="dark" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: black;font-family: var(--ion-font-family, inherit);">DETALLE PLAN {{nuevo}}</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <td style="font-family: var(--ion-font-family, inherit);" [innerHTML]="html"> </td>

</ion-content>
