#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}
.resumenPago{
  ion-row{
    ion-col{
      border: 1px solid  #001b83 !important;
     
      font-size: 2.5vh;
      font-weight: bold;
      label{
        background: #dcdcdd7a;
        
        font-size: calc(0.7rem + 0.5vw);
        text-align: end;
      }
    }
  }

}

#container strong {
  font-size: 20px;
  line-height: 26px;
  display: flex;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin : 0;
}

#container a {
  text-decoration: none;
}


body{
  font-size:1em;
   height: 100%;
}

h3 {
  font-family: Lato;
  text-align: center;
  color:	#0080ff;
}

.circles{
  height: 40px;
  width: 40px;
  border: 1.5px solid #001b83;
  background: #001b83 ;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.active{
    background-color:#edac39;
}

.circle-desc-active{
font-weight: bold;
}

.bar{
  width: 10%;
  height: 0.063em;
  margin-bottom:0.469em;
  border: 1px solid #001b83;
  color:#000;
  background-color:#000;
  display: inline-block;
  text-align:center;
  margin:"0 auto";
}

.container{
  min-width:320px;
  margin: "0px auto";
  text-align: start;
}

.circle-desc{
 position: absolute;
 top:200px;
 font-size: 0.9em;
 width: 100px;
 margin-left:-30px;
}

@media only screen and (max-width: 320px){
   body {
     font-size:20%
  }
} 

/*extra small devices*/
@media only screen and (max-width: 600px){
   body {
     font-size:40%
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body {
     font-size:60%
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
     font-size:80%
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
     font-size:100%
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   body {
     font-size:120%
  }
}

.fondologin{
  background-color: #111D12!important;
}



[cards] {
  .grid-full ion-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 5px 0;
  }
  .row {
      padding: 0;
  }
  .col {
      padding: 5px 0;
  }
  .card {
      margin: 0 0 0 12px;
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
      border-radius: 4px;
  }
}
.titulos{
  font-weight: bold;
  color: #858585;  
  text-align: justify;

}
.subtitulos{
  color: black;
  font-size: medium;
  padding-left: 20px;
}
.texto{
  border: 1px solid rgba(0,27,131,.5450980392156862);
//background: #e7e7e78c;
text-transform: uppercase;

  color: #17202A;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}
.myCustomSelect{
  max-width: 100% !important;
 }
.bordesregistro{
 
     border: 1px solid  #001b83 !important;
}


.center {
  display: block;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background: #ffffff;
}


.label{
  //padding-left: 20px;
   color: #001b83;
    font-weight: bold;
}

.datosPlan{

 
  color: #000;
  text-transform: uppercase;
  
  }

  .prueba{
    height: 100%;
    width: 100%;
    background-color: #001b83;
  }

  .cardBajoTitulo {
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.cardBajo {
  border: 1px solid #001d86;
  border-radius: 25px;
  background-color: #fff;
 
}
.cardBajoCabecera {
  background-color: #001b83;
 
}

//PAGO FINAL
.strong {
  font-weight: 700;
}

.subtitulo, .titulo {
  font-family: Montserrat,sans-serif;
  text-align: left;
  color: #001b83;
}

.titulo {
  font-size: 28px;
  font-weight: 500;
}

.btn {
  padding: 14px 40px;
  border-radius: 20px;
  font-size: small;
  border: 0;
  text-decoration: none;
  transition: all .4s;
  margin-left: 10px;
  width: 230px;
}

.btn--primary {
  background-color: #001b83;
  color: #fff;
}


.secondary-background {
  background-color: #fff;
  border-radius: 15px;
}

.centrardivs{
  text-align: center;
}

.master_css h1 {
  font-weight: 500;
  color: #001b83;
  text-align: left;
}
b, strong {
  font-weight: 900;
}