<ion-header [translucent]="true" lines="none">


</ion-header>

<ion-content *ngIf="principal">
  <ion-grid>
    <ion-row class="ion-align-items-center ">
      <ion-col size-xs="6" offset-xs="3" size-sm="3" offset-sm="0">
        <img src="assets/images/logo.png">
      </ion-col>
      
    </ion-row>
    <!---->
    <ion-row>
      <ion-col size-xs="12" size-sm="3" offset-sm="1">
        <ion-row>
          <ion-col class="master_css "><br><img class="img_logo" src="assets/images/seguros-portada.png">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-xs="12" size-sm="5" offset-sm="1">
        <div>
          <ion-row>
            <ion-col size-xs="12" size-sm="12" class="master_css ">
              <h1><strong>Cotiza tu seguro </strong><br> en 5 sencillos pasos. </h1>
            </ion-col>
          </ion-row><br>
          <ion-row>
            <ion-col size-xs="12" size-sm="12">
              <img src="assets/images/pasos.png">
            </ion-col>
          </ion-row>



          <ion-row style="display: flex;justify-content: center; align-content: center;">

            <ion-col size="6">
              <ion-button style="height: 50px; width: 100%; color: black; --border-radius: 20px;" color="warning"
                class="center" id="siguiente" (click)="continuarPrincipal()"> Continuar
              </ion-button>
            </ion-col>

          </ion-row>


        </div>
      </ion-col>
    </ion-row>
    <!---->
  </ion-grid>

</ion-content>


<ion-content [fullscreen]="true" class="fondologin" *ngIf="principal2">

<!--   <ion-row>
    <ion-col size-xs="12" size-sm="3" >
      <ion-row>
        <ion-col class="master_css "><br><img class="img_logo" src="assets/images/logo.png">
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size-xs="12" size-sm="5" >
     
            <ion-grid style="text-align: center; ">
            
              <span *ngFor="let item of counts;let i = index">
                
                <span class="circles" [class.active]="orderStatus == item.name">
                  <span class="circle-desc" [class.circle-desc-active]="orderStatus == item.name"> {{item["name"] }}</span>
                  <ion-icon name="{{item['icono']}}"></ion-icon>
          
                </span>
                <span class="bar" *ngIf="(i != counts.length-1)"></span>
              </span>
            </ion-grid>
    
    </ion-col>
  </ion-row> -->


  <ion-grid style="text-align: center; ">
    <h3><img src="assets/images/logo.png" style="height: 120px; width: 170px;"></h3>



    <span *ngFor="let item of counts;let i = index">
      <span class="circle-desc" [class.circle-desc-active]="orderStatus == item.name"> {{item["name"] }}</span>
      <span class="circles" [class.active]="orderStatus == item.name">

        <ion-icon name="{{item['icono']}}" style="color: #f5f5f5;"></ion-icon>

      </span>
      <span class="bar" *ngIf="(i != counts.length-1)"></span>
    </span>
  </ion-grid>


  <!-- PASO1 -->

  <div class="container" *ngIf="estado1">
    <ion-grid>
      <ion-row style="padding-top: 20px;">
        <ion-col size-xs="12" size-md="9" size-xl="7" offset-xl="2.5" offset-md="1.5">


          <div class="secondary-background">

            <ion-row>
              <ion-col size="12">

                <label class="titulo">Ingresa tus <strong>Datos</strong></label>
                <br>
                <label class="subtitulo">Nuestra base de datos te facilitará la tarea</label>
              </ion-col>
            </ion-row>

            <ion-row>

              <ion-col size-xs="12" size-md="2" size-xl="2">

                <ion-label class="label" position="stacked">Cedula</ion-label>

                <ion-input [(ngModel)]="cedulaTitular" class="texto" (ionChange)="consultarCedula($event)">
                </ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="3.25" size-xl="3.5">
                <ion-label class="label">Nombres</ion-label>



                <ion-input [(ngModel)]="nombre1" class="texto" id="nombre1">
                </ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="3.25" size-xl="3.5">
                <ion-label class="label">Apellidos</ion-label>



                <ion-input [(ngModel)]="apellido1" class="texto" id="apellido1">
                </ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="3.5" size-xl="3">

                <ion-label class="label">Fecha de Nacimiento</ion-label>


                <ion-input (ionChange)="calculoEdad($event)" class="texto" id="fechaconsulta" type="date"
                  value="fechaconsulta" id="fechanacTitular" [(ngModel)]="fechanacTitular"></ion-input>

                <!-- <ion-select [interfaceOptions]="customAlertOptions"  cancelText="Cancelar" [interfaceOptions]="customAlertOptions"  cancelText="Cancelar"  style="border: 0.5px solid  #001b83 !important; background: #e7e7e78c;border-radius: 8px; " [(ngModel)]="edad1">
        <ion-select-option *ngFor="let item of listaEdades" value="{{item}}">{{item}}</ion-select-option>
      </ion-select> -->


              </ion-col>


            </ion-row>


            <ion-row>


              <ion-col size-xs="12" size-md="4" size-xl="4">
                <ion-label class="label">Correo</ion-label>



                <ion-input type="email" [(ngModel)]="correo1" style=" border: 1px solid rgba(0,27,131,.5450980392156862);
        color: #17202A;
        font-size: 15px;
        font-weight: bold;
        border-radius: 8px;" id="correo1">
                </ion-input>

              </ion-col>

              <ion-col size-xs="6" size-md="2.5" size-xl="2.5">
                <ion-icon name="call" style="color: #001d86;">
                </ion-icon>
                <ion-label class="label">Domicilio</ion-label>


                <ion-input [(ngModel)]="telefono1" id="telefono1" class="texto" type="number">
                </ion-input>



              </ion-col>

              <ion-col size-xs="6" size-md="2.5" size-xl="2.5">
                <!-- <img  src="assets/icon/iconcelular.png" style="width: 15px; height: 15px; color: #001d86;"> -->
                <ion-icon name="calculator" style="color: #001d86;">
                </ion-icon>
                <ion-label class="label">Celular</ion-label>


                <ion-input [(ngModel)]="celular1" class="texto" type="number" id="celular1">
                </ion-input>

              </ion-col>

              <ion-col size-xs="12" size-md="3" size-xl="3">

                <ion-label style=" color: #001b83;font-weight: bold;">Genero</ion-label>
                <ion-select id="genero1" [interfaceOptions]="customAlertOptions" cancelText="Cancelar" class="texto"
                  [(ngModel)]="genero1">
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                  <ion-select-option value="Femenino">Femenino</ion-select-option>
                </ion-select>


              </ion-col>

            </ion-row>
          </div>
        </ion-col>

      </ion-row>

    </ion-grid>
  </div>
  <!-- PASO2 -->

  <div class="container" *ngIf="estado2">
    <ion-grid>
      <ion-row style="padding-top: 20px;">
        <ion-col size-xs="12" size-md="7" size-xl="7" offset-xl="2.5" offset-md="2.5">



          <div class="secondary-background">



            <ion-row>
              <ion-col size-xs="12" size-md="12" size-xl="12">

                <ion-row>
                  <ion-col size="12">

                    <label class="titulo">Datos de <strong>Beneficiarios</strong></label>
                    <br>
                    <label class="subtitulo">Añada beneficiarios de ser necesario</label>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-xs="12" size-md="12" size-xl="12">

                    <!--               <ion-row>



                <ion-col size-xs="12" size-md="3.5" size-xl="3.5" style="border: 1px solid  #001b83 !important;">

                  
                  <ion-label class="label">Edad</ion-label>

                </ion-col>
                <ion-col size-xs="12" size-md="3.5" size-xl="3.5" style="border: 1px solid  #001b83 !important;">
                  <ion-label class="label">Genero</ion-label>

                </ion-col>
                <ion-col size-xs="12" size-md="3.5" size-xl="3.5" style="border: 1px solid  #001b83 !important;">
                  <ion-label class="label">Parentesco</ion-label>

                </ion-col>
                <ion-col size-xs="12" size-md="1.5" size-xl="1.5">
                </ion-col>

              </ion-row> -->

                    <ion-row>



                      <ion-col size-xs="12" size-md="4" size-xl="3.5"
                        style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">
                        <ion-label class="label">Edad</ion-label>
                        <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                          style="border: 1px solid  #001b83 !important; background: #e7e7e78c; margin-top: 4px;border-radius: 8px;"
                          [(ngModel)]="edad1" disabled="true">
                          <ion-select-option *ngFor="let item of listaEdades" value="{{item}}">{{item}}
                          </ion-select-option>
                        </ion-select>
                      </ion-col>

                      <ion-col size-xs="12" size-md="3.5" size-xl="3.5"
                        style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">
                        <ion-label class="label">Genero</ion-label>

                        <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                          style="border: 1px solid  #001b83 !important; background: #e7e7e78c; margin-top: 4px;border-radius: 8px;"
                          [(ngModel)]="genero1" disabled="true">
                          <ion-select-option value="Masculino">Masculino</ion-select-option>
                          <ion-select-option value="Femenino">Femenino</ion-select-option>
                        </ion-select>


                      </ion-col>

                      <ion-col size-xs="12" size-md="4.5" size-xl="4"
                        style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">
                        <ion-label class="label">Parentesco</ion-label>



                        <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                          style="border: 1px solid  #001b83 !important; background: #e7e7e78c; margin-top: 4px;border-radius: 8px;"
                          [(ngModel)]="parentesco1" disabled="true">
                          <ion-select-option value="{{parentesco1}}">{{parentesco1}}
                          </ion-select-option>
                        </ion-select>

                      </ion-col>


                      <ion-col size-xs="12" size-md="1.5" size-xl="1.5">
                      </ion-col>

                    </ion-row>

                    <form #formRef="ngForm">

                      <div class="container">
                        <div class="form-group">
                          <ion-row *ngFor="let word2 of words2; let in=index">
                            <ion-col size-xs="12" size-md="4" size-xl="3.5"
                              style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">



                              <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                                style=" background: #e7e7e78c; margin-top: 4px;border-radius: 8px;"
                                [(ngModel)]="words2[in].rango_edad" name="name{{in}}.rango_edad" #name="ngModel"
                                required>
                                <ion-select-option *ngFor="let item of listaEdades" value="{{item}}">{{item}}
                                </ion-select-option>
                              </ion-select>

                              <!--<p [hidden]="words2[in].value">Field is required</p>
                      {{formRef.form.name1}}-->
                            </ion-col>

                            <ion-col size-xs="12" size-md="3.5" size-xl="3.5"
                              style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">


                              <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                                style=" background: #e7e7e78c; margin-top: 4px;border-radius: 8px;"
                                [(ngModel)]="words2[in].genero" name="name{{in}}.genero" #name="ngModel" required>

                                <ion-select-option value="Masculino">Masculino</ion-select-option>
                                <ion-select-option value="Femenino">Femenino</ion-select-option>
                              </ion-select>

                              <!--<p [hidden]="words2[in].value">Field is required</p>
                    {{formRef.form.name1}}-->
                            </ion-col>

                            <ion-col size-xs="12" size-md="3.5" size-xl="4"
                              style="padding-left: 20px;padding-right: 20px;border: 1px solid  #001b83 !important;">



                              <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                                style=" background: #e7e7e78c;margin-top: 4px;border-radius: 8px;"
                                [(ngModel)]="words2[in].parentesco" name="name{{in}}.parentesco" #name="ngModel"
                                required>
                                <ion-select-option *ngFor="let item of parentescos" value="{{item}}">{{item}}
                                </ion-select-option>

                              </ion-select>

                              <!--<p [hidden]="words2[in].value">Field is required</p>
                  {{formRef.form.name1}}-->
                            </ion-col>

                            <ion-col size-xs="12" size-md="1" size-xl="1"
                              style="border: 1px solid #001b83 !important; text-align: center;">



                              <ion-button size="small" color="danger" (click)="borrarBeneficiario($event)" id="{{in}}">
                                <ion-icon name="trash"></ion-icon>
                              </ion-button>

                              <!--<p [hidden]="words2[in].value">Field is required</p>
                 {{formRef.form.name1}} -->
                            </ion-col>

                          </ion-row>
                        </div>
                        <br />
                      </div>


                      <ion-button
                        style="background-color: #f5f5f5; border-color: #f5f5f5;--background: #001c71;border-radius: 8px;"
                        id="atras" [disabled]="!formRef.form.valid" (click)="add()">Añadir Beneficiario
                      </ion-button>



                    </form>
                    <!-- {{words2 | json}} -->
                  </ion-col>






                </ion-row>



              </ion-col>
            </ion-row>

          </div>
        </ion-col>

      </ion-row>




    </ion-grid>
  </div>

  <!-- PASO3 -->

  <div class="container" *ngIf="estado3">
    <ion-grid>
      <ion-row style="padding-top: 20px;">
        <ion-col size-xs="12" size-md="8" size-xl="7" offset-xl="2.5" offset-md="2">



          <div class="secondary-background">



            <div class="grid-full">


              <ion-row>
                <ion-col size="12">

                  <label class="titulo">Encontramos los mejores <strong>Planes</strong></label>
                  <br>
                  <label class="subtitulo">Seleccione un plan</label>
                </ion-col>
              </ion-row>


              <ion-row style="padding-left: 10px;padding-right: 10px; padding-top: 20px;">
                <ion-col size-xs="12" size-md="10" size-xl="12">



                  <ion-row>
                    <ion-col size-xs="12" size-md="12" size-xl="12">

                      <ion-row>



                        <ion-col size-xs="12" size-md="2" size-xl="2">
                          <ion-label class="label">Titular:</ion-label>

                        </ion-col>
                        <ion-col size-xs="12" size-md="5.5" size-xl="6">
                          <ion-label class="datosPlan">{{nombre1}} {{apellido1}}</ion-label>

                        </ion-col>
                        <ion-col size-xs="12" size-md="3" size-xl="3">
                          <ion-label class="datosPlan">{{genero1}}</ion-label>

                        </ion-col>


                        <ion-col size-xs="12" size-md="1.5" size-xl="1">
                          <ion-label class="datosPlan">{{edad1}}</ion-label>

                        </ion-col>
                      </ion-row>

                      <ion-row>



                        <ion-col size-xs="12" size-md="2.7" size-xl="2.5">
                          <ion-label class="label">Beneficiarios:</ion-label>

                        </ion-col>
                        <ion-col size-xs="12" size-md="3" size-xl="3">
                          <ion-label class="datosPlan">{{conteoBeneficiarios}}</ion-label>

                        </ion-col>

                      </ion-row>


                    </ion-col>






                  </ion-row>



                </ion-col>
              </ion-row>
            </div>


            <ion-row style=" display: flex; justify-content: center;" *ngIf="tresDatos">
              <!--    <ion-col *ngFor="let item of listaPlanes" size-xs="12" size-md="4" size-xl="4">


      <ion-button [color]="color" [style]="colorButon" (click)="open($event, item.plan)">

          <li>
            <b style="color: #001b83;">{{ item.plan }} </b>
            <p> Prima Mensual: {{item.prima_mensual}}</p>

            <p> Prima Anual: {{item.prima_anual}}</p>

          </li>




        </ion-button> -->
              <ion-col size-xs="12" size-md="12" size-xl="12">
                <ion-row style=" display: flex; justify-content: center;">
                  <ion-col *ngFor="let item of listaPlanes; let in=index" size-xs="10" size-md="4" size-xl="4">

                    <ion-card class="cardBajo md hydrated">
                      <ion-card-header class="cardBajoCabecera ion-inherit-color md hydrated">
                        <ion-card-subtitle class="cardBajoTitulo ion-inherit-color md hydrated" role="heading"
                          aria-level="3">
                          {{ item.plan}}
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content class="md card-content-md hydrated">
                        <h5 style="text-align: center;">
                          Prima Mensual:$ {{item.prima_mensual | number:'1.2-2' }}
                        </h5>
                        <h1 _ngcontent-nwu-c47="" style="text-align: center; color: black;">
                          ${{item.prima_anual | number:'1.2-2' }}
                        </h1>
                        <h3 style="text-align: center; color: darkblue;">
                          Prima Anual
                        </h3>
                        <div class="centrardivs" *ngIf="mostrar1'{{in}}'">
                          <hr color="#F9B727">
                          <label class="subtitulo-small">
                            Mostrar Detalles
                          </label>
                          <br>
                          <ion-icon name="chevron-down" size="small" style="color: #F9B727;" role="img"
                            (click)="activar($event,in)" class="md icon-small hydrated" aria-label="chevron down">
                          </ion-icon>
                        </div>
                        <!---->
                        <!---->

                        <div *ngIf="mostrar2">
                          <table>
                            <tr>
                              <td>
                                <h5>
                                  <ion-icon name="checkmark-circle" style="color: #f9b727;" role="img"
                                    aria-label="checkmark circle"></ion-icon> &nbsp; Amparo
                                  Patrimonial

                                </h5>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h5>
                                  <ion-icon name="checkmark-circle" style="color: #f9b727;" role="img"
                                    aria-label="checkmark circle"></ion-icon> &nbsp; Todo Riesgo
                                </h5>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h5>
                                  <ion-icon name="checkmark-circle" style="color: #f9b727;" role="img"
                                    aria-label="checkmark circle"></ion-icon> &nbsp; Responsabilidad
                                  Civil

                                </h5>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <h5>
                                  <ion-icon name="checkmark-circle" style="color: #f9b727;" role="img"
                                    aria-label="checkmark circle"></ion-icon> &nbsp; Asistencia
                                  Vehícular
                                </h5>
                              </td>
                            </tr>

                            <!---->
                          </table>
                          <div class="centrardivs" (click)="activar2($event,in)">
                            <hr color="#F9B727">
                            <ion-icon name="chevron-up" size="small" style="color: #F9B727;" role="img"
                              class="md icon-small hydrated" aria-label="chevron up"></ion-icon>
                          </div>
                        </div>
                      </ion-card-content>
                      <div style="text-align: center; display: flex;justify-content: center; background: #fffefefd;">


                        <ion-checkbox color="primary" id="{{item.plan}}" slot="start"
                          (click)="seleccionPlan($event,item.plan)"></ion-checkbox>


                      </div>

                    </ion-card>

                    <div class="centrardivs">
                      <ion-col size="12">

                        <button style="text-align: center;" (click)="getCondiciones_pdf(item)"><a
                            style="color:#FF0000;"> Ver Condiciones Particulares</a></button>

                      </ion-col>
                    </div>


                  </ion-col>




                </ion-row>










              </ion-col>

            </ion-row>

          </div>
        </ion-col>

      </ion-row>




    </ion-grid>
  </div>


  <!-- PASO 4 -->
  <div class="container" *ngIf="estado4">
    <ion-grid>
      <ion-row style="padding-top: 20px;">
        <ion-col size-xs="12" size-md="8" size-xl="7" offset-xl="2.5" offset-md="2">



          <div class="secondary-background">

            <ion-row>
              <ion-col size-xs="12" size-md="12" size-xl="12">

                <ion-row>
                  <ion-col size="12" style="text-align: center; display: flex;justify-content: center;">

                    <label class="titulo"><strong>Información </strong>complementaria del titular </label>



                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size-xs="12" size-md="3" size-xl="3">
                    <ion-label class="label">Cedula</ion-label>

                    <ion-input [(ngModel)]="cedulaTitular" class="texto" type="number" disabled>
                    </ion-input>

                  </ion-col>

                  <ion-col size-xs="12" size-md="4.5" size-xl="5">
                    <ion-label class="label">Nombres</ion-label>


                    <ion-input [(ngModel)]="nombre1" class="texto" disabled>
                    </ion-input>

                  </ion-col>


                  <ion-col size-xs="12" size-md="4.5" size-xl="4">
                    <ion-label class="label">Apellidos</ion-label>


                    <ion-input [(ngModel)]="apellido1" class="texto" disabled>
                    </ion-input>

                  </ion-col>






                </ion-row>





                <ion-row>




                  <ion-col size-xs="12" size-md="3" size-xl="3">
                    <ion-label class="label">Correo</ion-label>



                    <ion-input [(ngModel)]="correo1" class="texto" disabled>
                    </ion-input>

                  </ion-col>

                  <ion-col size-xs="12" size-md="2.75" size-xl="2.5">
                    <ion-label class="label">Teléfono</ion-label>


                    <ion-input [(ngModel)]="telefono1" class="texto" disabled>
                    </ion-input>

                  </ion-col>

                  <ion-col size-xs="12" size-md="2.75" size-xl="2.5">
                    <ion-label class="label">Celular</ion-label>


                    <ion-input [(ngModel)]="celular1" class="texto" disabled>
                    </ion-input>

                  </ion-col>


                  <ion-col size-xs="12" size-md="3.5" size-xl="4">

                    <ion-label class="label">Fecha de Nacimiento</ion-label>


                    <ion-input class="texto" id="fechaconsulta" type="date" value="fechaconsulta"
                      [(ngModel)]="fechanacTitular" disabled></ion-input>


                  </ion-col>

                </ion-row>




                <ion-row>




                  <ion-col size-xs="12" size-md="3" size-xl="3">

                    <ion-label class="label">Estado Civil</ion-label>
                    <ion-select [disabled]="estcivi" [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                      style="border: 1px solid  #001b83 !important; background: #e7e7e78c;border-radius: 8px;"
                      [(ngModel)]="estadoTitular">
                      <ion-select-option *ngFor="let item of listaEstados" value="{{item}}">{{item}}</ion-select-option>
                    </ion-select>


                  </ion-col>




                  <ion-col size-xs="12" size-md="2.5" size-xl="2.5" *ngIf="estadoCiudadSelectable">

                    <ion-label class="label">Ciudad</ion-label>


                    <ionic-selectable [(ngModel)]="ciudad" [items]="ciudades" itemValueField="name"
                      itemTextField="nombre" closeButtonText="Cancelar" [canSearch]="true"
                      searchPlaceholder="Ingresar una Ciudad" (onChange)="ciudadSelect($event) " class="texto">
                    </ionic-selectable>




                  </ion-col>

                  <ion-col size-xs="12" size-md="2.5" size-xl="2.5" *ngIf="estadoCiudad">
                    <ion-label class="label">Ciudad</ion-label>

                    <ion-select disabled [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                      style="border: 1px solid  #001b83 !important; background: #e7e7e78c;border-radius: 8px;"
                      [(ngModel)]="ciudad">
                      <ion-select-option *ngFor="let item of ciudades" value="{{item.name}}">{{item.nombre}}
                      </ion-select-option>
                    </ion-select>






                  </ion-col>

                  <ion-col size-xs="12" size-md="2.5" size-xl="2.5">
                    <ion-label class="label">Provincia</ion-label>


                    <ion-input [(ngModel)]="provinciaTitular" class="texto" disabled>
                    </ion-input>



                  </ion-col>

                  <ion-col size-xs="12" size-md="4" size-xl="4">


                    <ion-label class="label">Dirección</ion-label>



                    <ion-input [(ngModel)]="direccionTitular" class="texto" [disabled]="estcivi">
                    </ion-input>
                  </ion-col>

                </ion-row>



              </ion-col>
            </ion-row>
          </div>
        </ion-col>

      </ion-row>




    </ion-grid>
  </div>


  <!-- PASO 5 -->
  <div class="container" *ngIf="estado5">
    <ion-grid>
      <ion-row style="padding-top: 20px;">
        <ion-col size-xs="12" size-md="8" size-xl="7" offset-xl="2.5" offset-md="2">



          <div class="secondary-background">
            <ion-row>
              <ion-col size="12">

                <label class="titulo">A un paso de <strong>Finalizar</strong> la cotización del plan
                  <strong>"{{plan}}"</strong> </label>
                <br>
               <!--  <label class="subtitulo">Elija un frecuencia de pago</label> -->
              </ion-col>
            </ion-row>

            <div class="container">
              <ion-row>
                <ion-col size="12">

                 <!--  <ion-row style="text-align: center; display:flex;justify-content: center;">

                    <ion-col size-xs="6" size-md="4" size-xl="3">
                      <ion-select [interfaceOptions]="customAlertOptions" class="texto" cancelText="Cancelar"
                        (ionChange)="labelFrecuencia($event)"
                        style="border: 1px solid  #001b83 !important; background: #e7e7e78c;"
                        [(ngModel)]="frecuenciPagos">
                        <ion-select-option *ngFor="let item of listaFrecuenciapagos" value="{{item}}">{{item}}
                        </ion-select-option>
                      </ion-select>

                    </ion-col>
                  </ion-row> -->


                  <ion-row>
                    <ion-col size="12"
                      style="text-align: center; display: flex;justify-content: center; font-size: 25px;">
                      <ion-text class="subtitulo">Resumen de pago</ion-text>
                    </ion-col>
                  </ion-row>


                </ion-col>
              </ion-row>

<div style="text-align: center; font-weight: bold;">
              <ion-row>
                <ion-col size="4.5">
                  
                </ion-col>
                <ion-col  >
                  Mensual
                </ion-col>
                <ion-col>
                  Semestral
                </ion-col>
                <ion-col>
                  Anual
                </ion-col>
              </ion-row>
            </div>
              <div class="resumenPago">
              <ion-row>
                <ion-col size="4.5">
                  Prima Neta:
                </ion-col>
                <ion-col>
                  <label > {{priMensual | currency}}</label>
                  
                </ion-col>
                <ion-col>
                  <label > {{priSemest | currency}}</label>
                  
                </ion-col>
                <ion-col>
                  <label >  {{priAnual | currency}}</label>
                 
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4.5">
                  Impuestos y Contribuciones:
                </ion-col>
                <ion-col>
                  <label > {{impMensual | currency}}</label>
                 
                </ion-col>
                <ion-col>
                  <label > {{impSemest | currency}}</label>
                  
                </ion-col>
                <ion-col>
                  <label > {{impAnual | currency}}</label>
                  
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4.5" >
                  Prima Total:
                </ion-col>
                <ion-col>
                  <label > {{totMensual | currency}}</label>
                  
                </ion-col>
                <ion-col>
                  <label > {{totSemest | currency}}</label>
                  
                </ion-col>
                <ion-col>
                  <label > {{totAnual | currency}}</label>
                  
                </ion-col>
              </ion-row>
            </div>

           <!--    <ion-row>

                <ion-col size-xs="12" size-md="3" size-xl="3.5" style="border: 1px solid  #001b83 !important;">


                  <ion-row>

                    <ion-col size-xs="6" size-md="4" size-xl="4.5" style="font-size: 15px;">
                      <ion-label>Prima Neta:</ion-label>
                    </ion-col>
                    <ion-col size-xs="6" size-md="8" size-xl="7.5">

                      <label style="background: #dcdcdd7a;font-size: 20px;"> $ {{primamensual}}</label>
                    </ion-col>
                  </ion-row>



                </ion-col>
                <ion-col size-xs="12" size-md="5.5" size-xl="5.5" style="border: 1px solid  #001b83 !important;">
                  <ion-row>

                    <ion-col size-xs="6" size-md="7" size-xl="7">
                      <ion-label>Impuestos y Contribuciones:</ion-label>
                    </ion-col>
                    <ion-col size-xs="6" size-md="5" size-xl="5">

                      <label style="background: #dcdcdd7a;font-size: 20px;">$ {{impuestos}}</label>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <ion-col size-xs="12" size-md="3" size-xl="3" style="border: 1px solid  #001b83 !important;">
                  <ion-row>

                    <ion-col size-xs="6" size-md="4" size-xl="5.5">
                      <ion-label>Prima Total:</ion-label>
                    </ion-col>
                    <ion-col size-xs="6" size-md="8" size-xl="6.5">


                      <label style="background: #dcdcdd7a;font-size: 20px;">$ {{total}}</label>
                    </ion-col>
                  </ion-row>

                </ion-col>




              </ion-row> -->



            </div>

            <ion-grid>
              <div style="text-align: center; display: flex;justify-content: center;">
                <ion-row style="text-align: center;">
                  <ion-col style="text-align: center;" size-xs="12" size-md="12" size-xl="12">
                    <ion-row>

                      <ion-col size-xs="12" size-md="12" size-xl="12">



                        <ion-label class="label">Cuenta usted con un broker?</ion-label>
                        <ion-select [interfaceOptions]="customAlertOptions" cancelText="Cancelar"
                          (ionChange)="cuentaconBroker($event)"
                          style="border: 0.5px solid  #001b83 !important; background: #e7e7e78c;border-radius: 8px;"
                          [(ngModel)]="cuentabroker">
                          <ion-select-option value="SI">Si</ion-select-option>
                          <ion-select-option value="NO">No</ion-select-option>
                        </ion-select>



                      </ion-col>

                    </ion-row>
                    <ion-row style="text-align: center; display: flex;justify-content: center;">
                      <ion-col *ngIf="estadobroker==true" size-xs="12" size-md="12" size-xl="12">
                        <ion-label class="label">Seleccione un broker:</ion-label>



                        <ionic-selectable [(ngModel)]="broker" [items]="listaBrokers" itemValueField="parent"
                          itemTextField="parent" [canSearch]="true" closeButtonText="Cancelar"
                          searchPlaceholder="Ingresar un Nombre" class="texto">
                        </ionic-selectable>




                      </ion-col>

                    </ion-row>

                  </ion-col>

                </ion-row>
              </div>
            </ion-grid>

          </div>
        </ion-col>

      </ion-row>




    </ion-grid>
  </div>

  <!-- BOTONES -->

  <ion-grid class="container" *ngIf="botones">
    <div class="container">
      <ion-row style="padding-left: 10px;padding-right: 10px; padding-top: 20px;">
        <ion-col size-xs="12" size-md="8" size-xl="8" offset-xl="2" offset-md="2">


          <ion-row>

            <ion-col size-xs="12" size-md="8" size-xl="8" offset-xl="2" offset-md="2">

              <ion-item class="center" lines="none">
                <ion-button style="height: 100%; width: 100%; color: black; --border-radius: 20px;" color="warning"
                  class="center" id="atras" (click)="clickatras($event)" disabled>Atras
                </ion-button>
                <ion-button style="height: 100%; width: 100%; color: black; --border-radius: 20px;" color="warning"
                  class="center" id="siguiente" (click)="clicksiguiente($event)">Siguiente
                </ion-button>


              </ion-item>
            </ion-col>

          </ion-row>


        </ion-col>
      </ion-row>
    </div>

  </ion-grid>


  <ion-grid class="container" *ngIf="estado5">
    <div class="container">
      <ion-row style="padding-left: 10px;padding-right: 10px; padding-top: 20px;">
        <ion-col size-xs="12" size-md="8" size-xl="8" offset-xl="2" offset-md="2">


          <ion-row>

            <ion-col size-xs="12" size-md="4" size-xl="4" offset-xl="4" offset-md="4">

              <ion-item class="center" lines="none">
     
                <!-- <ion-button style="height: 100%; width: 100%; color: black; border-radius: 50%;  --border-radius: 20px;"
                  color="warning" class="center" id="siguiente" (click)="guardar()">Proceder al Pago
                </ion-button> -->


                <ion-button style="height: 100%; width: 100%; color: black; border-radius: 50%;  --border-radius: 20px;"
                  color="warning" class="center" id="siguiente" (click)="guardar()">Generar Cotización
                </ion-button>


              </ion-item>
            </ion-col>

          </ion-row>


        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

  <ion-grid class="container" *ngIf="estadoPago">

    <ion-row style="text-align: center; display: flex;justify-content: center;">
      <ion-col size-xs="12" size-md="8" size-xl="8" class="secondary-background md hydrated">
        <ion-row>
          <ion-col size="12">
            <img src="assets/images/cot_robot.png" class="img_robot">
          </ion-col>
        </ion-row> &nbsp;&nbsp;<label class="titulo">
          <strong>Pago Generado &nbsp;</strong>
          <ion-icon name="checkmark-circle" style="color: #f9b727;" role="img" aria-label="checkmark circle">
          </ion-icon>
        </label><br> &nbsp;&nbsp;<label class="subtitulo">
          <ion-icon name="mail-outline" style="color: #001b83;" role="img" aria-label="mail outline">
          </ion-icon>&nbsp;Revise su correo para acceder a la informacion.
        </label><br><br>
        <ion-row>

          <ion-col size="12">
            <button (click)="nuevaCotizacion()" class="btn btn--primary">Nueva Cotización

            </button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>